.container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  margin-left: 10px;
  margin-right: 10px;
}

.card h2 {
  font-weight: bold;
  font-size: 30px;
}

.card p {
  font-size: 22px;
  margin-bottom: 0;
}
