.rect {
  display: block;
  position: absolute;
  background-size: contain;
  top: 150px;
  
  width: 100px;
  height: 100px;
  background: url('images/loading.svg');
}

.rect.state-show {
  animation: infinite 1s rotate linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centering {
  position: relative;
}

.ui {
  position: absolute;
  bottom: 100px;
}
