@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #ffffff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

body:before {
  background: #000;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #251631;
}

th,
td {
  padding: 10px 20px;
}

table th {
  font-weight: normal;
}

h1 {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h1,
p,
label,
button,
textarea,
hr {
  margin-bottom: 20px;
}

h1:last-child,
p:last-child,
label:last-child,
button:last-child,
textarea:last-child,
hr:last-child {
  margin-bottom: 0;
}

main {
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  height: 480px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

p {
  line-height: 36px;
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

button.selected {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}

table {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

input,
textarea,
button,
label,
select {
  font-size: 18px;
  line-height: 18px;
}

select {
  background-color: #fff;
}

button {
  width: 300px;
  display: block;
}

form {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

label input {
  margin-left: 20px;
}

textarea {
  box-sizing: border-box;
  padding: 20px;
}

main.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character {
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
}

.main {
  height: 90%;
}

.box {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

[class^='log'] {
  font-size: 14px;
}
