@import url(../../common/css/base_photo.css);
body {
  background-size: cover;
  background: url("../common/bg_nature.jpg") center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(0, 34, 255, 0.6);
  width: 160px;
  height: 160px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
