@import url(../../common/css/base_photo.css);
body {
  background-size: cover;
  background: url("../common/bg_sky.jpg") center;
}

main {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 22px;
  font-weight: bold;
}
