@import url(../../common/css/base_photo.css);
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

table {
  text-align: left;
  border-collapse: collapse;
}

table th {
  font-weight: normal;
}

h1,
h2 {
  font-weight: normal;
}

button {
  display: block;
}

label {
  display: block;
}

body {
  background-size: cover;
  background: url("../common/bg_river.jpg") center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

p,
main ul li {
  margin-bottom: 20px;
}

#mouseWheelToggle {
  margin-right: 10px;
}

.scrollable-element {
  overflow-y: scroll;
}

.scrollable-element {
  width: 100%;
  height: 110px;
  text-align: center;
  border: 1px solid #333;
}

