@charset "UTF-8";
@import url(../../common/css/base_photo.css);
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
  text-align: left;
  border-collapse: collapse;
}

table th {
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #ffffff;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background: url("../common/bg_nature_6.jpg") center;
  color: #333333;
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  align-self: center;
}

table table,
table th,
table td {
  border: 1px solid #333333;
}

table th,
table td {
  box-sizing: border-box;
  padding: 10px;
}
